/*THÔNG TIN CHUNG*/
.main-account {
	.banner-child {
		background-color: $bg-b-cl;
		&:before {
			display: none;
		}
	}
}

.account {
	.left {
		width: calc(100% / 12 * 3);
	}
	.right {
		width: calc(100% / 12 * 9);
	}
	@include max-media($bk-d-1200) {
		.left {
			padding: 0;
		}
		.right {
			width: 100%;
		}
	}
}
.account-wrap {
	position: relative;
	background-color: $bg-w-cl;
	padding: 5rem 4rem;
	@include max-media($bk-d-992) {
		padding: 2rem;
	}
}
.account-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.f-control {
		max-width: 22rem;
		border-color: $main-cl;
	}
	.main-title {
		max-width: 25.5rem;
	}
	@include max-media($bk-d-768) {
		.main-title {
			font-size: 1.6rem;
		}
		.f-control {
			font-size: 1.4rem;
			width: 40%;
		}
	}
}
.account-widget {
	&-wrap {
		display: flex;
		margin: -1rem;
	}
	&-item {
		padding: 1rem;
		width: calc(100% / 3);
		.sub-title {
			color: rgba($color: $t-w-cl, $alpha: 0.7);
			margin-bottom: 0.8rem;
		}
		.title {
			color: $t-w-cl;
			font-weight: 600;
			@include fz-24;
		}
		> div {
			padding: 3rem 2rem;
		}
		&:nth-child(1) {
			div {
				background: rgb(44, 171, 171);
				background: linear-gradient(
					90deg,
					rgba(44, 171, 171, 1) 0%,
					rgba(77, 216, 171, 1) 100%
				);
			}
		}
		&:nth-child(2) {
			div {
				background: rgb(77, 128, 253);
				background: linear-gradient(
					90deg,
					rgba(77, 128, 253, 1) 0%,
					rgba(56, 203, 230, 1) 100%
				);
			}
		}
		&:nth-child(3) {
			div {
				background: rgb(249, 102, 63);
				background: linear-gradient(
					98deg,
					rgba(249, 102, 63, 1) 0%,
					rgba(251, 212, 82, 1) 100%
				);
			}
		}
	}
	@include max-media($bk-d-768) {
		&-wrap {
			flex-wrap: wrap;
		}
		&-item {
			width: 100%;
			> div {
				padding-top: 2rem;
				padding-bottom: 2rem;
			}
		}
	}
}
.account-status {
	&-wrap {
		display: flex;
		justify-content: space-between;
		margin: -1rem;
	}
	&-item {
		padding: 1rem;
		> div {
			border: 1px solid $main-cl;
			padding: 3rem 2rem;
		}
		&:nth-child(1) {
			// width: 52rem;
			width: calc(100% / 3 * 2);
			.cols {
				align-items: center;
				margin: 0;
			}
			.col {
				padding: 0;
				width: 40%;
				&:first-child {
					width: 60%;
				}
			}
			.account-status-list {
				padding-right: 2rem;
			}
		}
		&:nth-child(2) {
			// width: 25rem;
			width: calc(100% / 3 * 1);
			.account-status-list {
				height: 100%;
			}
			ul {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				span {
					max-width: 50%;
				}
			}
		}
	}
	&-list {
		display: flex;
		flex-direction: column;
		height: 100%;
		li {
			display: flex;
			justify-content: space-between;
			~ li {
				margin-top: 1rem;
			}
		}
	}
	@include max-media($bk-d-992) {
		&-item {
			> div {
				padding-top: 2rem;
				padding-bottom: 2rem;
			}
		}
	}
	@include max-media($bk-d-768) {
		&-wrap {
			flex-wrap: wrap;
		}
		&-item {
			&:nth-child(n) {
				width: 100%;
			}
			&:nth-child(1) {
				.col:nth-child(n) {
					width: 100%;
				}
				.account-status-list {
					padding-right: 0;
					padding-bottom: 2rem;
				}
			}
		}
	}
}
.account-order {
	border: 1px solid $main-cl;

	.account-title {
		padding: 2rem;
		border-bottom: 1px solid $border-cl;
	}
	&-chart {
		padding: 4.5rem 2rem;
		canvas {
			width: 100%;
			height: 28rem;
		}
	}
	@include max-media($bk-d-992) {
		&-chart {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
	@include max-media($bk-d-768) {
		&-chart {
			padding: 0.5rem;
		}
		#js-order-chart {
		}
	}
}

/*TÀI KHOẢN*/
.account-form {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	.f-submit {
		width: 100%;
	}
}
.account-form-group {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -0.8rem;
	~ div {
		margin-top: 2rem;
	}
	.title {
		font-weight: 600;
		color: $main-cl;
		width: 100%;
		padding: 1rem 0.8rem;
	}
	.f-group {
		padding: 1rem 0.8rem;
		width: 50%;
		&:nth-child(2) {
			width: calc(100% / 3 * 2);
		}
		&:nth-child(3) {
			width: calc(100% / 3 * 1);
		}
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6) {
			width: calc(100% / 3);
		}
		&:nth-child(7),
		&:nth-child(10) {
			width: 100%;
		}
	}
	.f-label {
		font-size: 1.2rem;
		color: $desc-cl;
	}
	&:nth-child(4),
	&:nth-child(5) {
		width: 50%;
	}
	&:nth-child(4) {
		.title {
			width: 30%;
		}
		.f-group {
			width: 60%;
		}
	}
	&:nth-child(5) {
		.f-group {
			position: relative;
			width: 100%;
			.fa {
				position: absolute;
				bottom: 2.5rem;
				right: 2.5rem;
				cursor: pointer;
				color: $desc-cl;
			}
		}
	}
}
@include max-media($bk-d-992) {
	.account-form-group:nth-child(4) {
		.title {
			width: 35%;
		}
		.f-group {
			width: 65%;
		}
	}
}
@include max-media($bk-d-768) {
	.account-form {
		.f-submit {
			order: 2;
		}
	}
	.account-form-group {
		.f-group {
			width: 100% !important;
		}
		&:nth-child(4) {
			order: 1;
		}
		&:nth-child(4),
		&:nth-child(5) {
			width: 100%;
			width: calc(100% + 1.6rem);
		}
	}
}
.account-form-avatar {
	position: relative;
	background-color: $third-cl;
	text-align: center;
	.avatar {
		cursor: pointer;
		display: block;
		padding: 2rem 2.5rem;
	}

	.img {
		border-radius: 99rem;
		width: 11.6rem;
		height: 11.6rem;
		position: relative;
		margin: auto;
		img {
			border-radius: inherit;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.name {
		margin-bottom: 0.5rem;
		padding-top: 1.5rem;
		font-weight: 600;
		text-transform: capitalize;
	}
	.desc {
		span {
			color: $main-cl;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 1.6rem;
		height: 1.6rem;
		background: url(../images/icon-camera.png) no-repeat;
		background-size: cover;
		pointer-events: none;
	}
}

/*QUẢN LÝ ĐƠN HÀNG*/
.account-search-order {
	display: flex;
	.f-control {
		margin-right: 1.5rem;
	}
	.main-btn {
		min-width: 15.7rem;
	}
	@include max-media($bk-d-768) {
		flex-wrap: wrap;
		margin-bottom: 1rem;
		.f-control {
			margin-right: 0;
		}
		.main-btn {
			margin-top: 1rem;
			width: 100%;
		}
	}
}
.account-order-sort {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	> div {
		display: flex;
		align-items: center;
		+ div {
			margin-left: 2.5rem;
		}
	}
	.title {
		white-space: nowrap;
		margin-right: 1.2rem;
	}
	.f-control {
		min-width: 22rem;
		color: $desc-cl;
	}
	@include max-media($bk-d-768) {
		margin-bottom: 2rem;
		justify-content: flex-start;
		> div {
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			+ div {
				margin-top: 1rem;
				margin-left: 0;
			}
		}
		.title {
			margin-bottom: 0.5rem;
		}
		.f-control {
			width: 100%;
		}
	}
}
.account-order-table {
	border: 1px solid $border-cl;
	.frame-table-head tr {
		height: 7rem;
	}
	td {
		color: $desc-cl;
	}
	th {
		text-transform: none;
	}
	th:nth-child(4) {
		width: 13rem;
	}
	th:nth-child(5) {
		width: 15rem;
	}
	@include max-media($bk-d-992) {
		border: none;
		.frame-table-body {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		tr {
			width: calc(50% - 0.5rem);
		}
		.frame-table-mobile {
			width: 55%;
			+ *:not(.qtt) {
				width: calc(45% - 2rem);
			}
		}
	}
	@include max-media($bk-d-768) {
		tr {
			width: 100%;
		}
	}
}
.account-order-dt {
	div + div {
		margin-top: 3rem;
		padding-top: 3rem;
		border-top: 1px solid $main-cl;
	}
	ul {
		column-count: 2;
		column-gap: 2rem;
	}
	li {
		margin-bottom: 1.5rem;
		break-inside: avoid;
	}
	b {
		display: inline-block;
		margin-bottom: 1rem;
	}
	p {
		max-width: 29rem;
		margin-bottom: 1rem;
		line-height: 1.7;
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include max-media($bk-d-768) {
		ul {
			column-count: 1;
		}
		div + div {
			margin-top: 1.5rem;
			padding-top: 1.5rem;
		}
		li:last-child {
			margin-bottom: 0;
		}
		p {
			max-width: 100%;
		}
	}
}
.account-order-dt-table {
	border: 1px solid $border-cl;
	td {
		color: $desc-cl;
	}
	th {
		text-transform: none;
	}
	th:nth-child(3) {
		width: 18.2rem;
	}
	td:nth-child(3) {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	tfoot {
		tr {
			border-top: 1px solid $border-cl;
			height: 5rem;
		}
		td {
			color: $t-b-cl;
			text-align: right;
			&:last-child {
				text-align: left;
			}
		}
	}
	@include max-media($bk-d-992) {
		border: none;
		.frame-table-body {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		tr {
			width: calc(50% - 0.5rem);
		}
		tfoot {
			border: 1px solid $border-cl;
			border-top: 0;
			tr {
				height: auto;
				padding: 1rem 0;
				width: 100%;
				display: flex;
				justify-content: flex-end;
			}
			td {
				&:first-child {
					width: 80%;
				}
				&:last-child {
					text-align: right;
					flex-grow: 1;
				}
			}
		}
	}
	@include max-media($bk-d-768) {
		tr {
			width: 100%;
		}
		tfoot {
			td {
				&:first-child {
					width: 60%;
					text-align: left;
				}
			}
		}
	}
}

//
.main-account-4,
.main-account-5 {
	.account-order-dt-table {
		th:nth-child(3) {
			width: 25rem;
		}
	}
}
