.main-cart-1 {
	.step-address {
		@include max-media($bk-d-768) {
			.col {
				width: 100%;
			}
		}
	}
}

.cart-table {
	th:nth-child(2) {
		width: 28rem;
	}
	@include max-media($bk-d-1200) {
		th:nth-child(2) {
			width: 22rem;
		}
		td:nth-child(2) {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}
}
.main-cart-1 {
	@include max-media($bk-d-768) {
		.frame-order-step:first-child {
			.frame-order-btn-next {
				display: flex;
				flex-wrap: wrap;
				.main-btn {
					min-width: auto;
					width: 100%;
					~ .main-btn {
						margin-top: 1rem;
						margin-left: 0;
					}
				}
			}
		}
	}
}

.cart-noti {
	position: fixed;
	bottom: 5rem;
	right: 1.5rem;
	z-index: 100;
	max-width: 30rem;
	width: max-content;
	min-height: 5rem;
	padding: 1rem;
	text-align: center;
	background-color: $bg-w-cl;
	border: 1px solid $main-cl;
	transform: translateY(1rem);
	transition: $t1;
	@include hidden;
	&.--active {
		transform: translateY(0);
		@include visible;
	}
}
